# Use :80 until DNS exists, then use your hostname (for example cms.example.com).
SITE_ADDRESS=:80
PRIMARY_SITE_URL=http://YOUR_DROPLET_IP

CRAFT_APP_ID=craft-cms-2026
CRAFT_ENVIRONMENT=production
CRAFT_SECURITY_KEY=REPLACE_WITH_A_LONG_RANDOM_VALUE
CRAFT_DEV_MODE=false
CRAFT_ALLOW_ADMIN_CHANGES=false
CRAFT_DISALLOW_ROBOTS=false

CRAFT_DB_DRIVER=pgsql
CRAFT_DB_SERVER=database
CRAFT_DB_PORT=5432
CRAFT_DB_DATABASE=craft
CRAFT_DB_USER=craft
CRAFT_DB_PASSWORD=REPLACE_WITH_A_LONG_RANDOM_VALUE
CRAFT_DB_SCHEMA=public
CRAFT_DB_TABLE_PREFIX=

POSTGRES_DB=craft
POSTGRES_USER=craft
POSTGRES_PASSWORD=REPLACE_WITH_A_LONG_RANDOM_VALUE
