<!doctype html>
<html lang="{{ craft.app.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{{ rev('dist/app.css') }}">
    <script type="module" src="{{ rev('dist/app.js') }}"></script>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
